<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
      
      
      
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>

      <div class="bar bar-header bar-dark has-tabs-top">
          <button class="button icon ion-navicon"></button>
          <h1 class="title">Header</h1>
          <button class="button icon ion-home"></button>
      </div>
      <div class="bar bar-subheader bar-royal">
          <h2 class="title">Sub Header</h2>
      </div>
          
      <ion-content class="has-subheader has-footer">
          
          

          <!--List Practice-->
          <div class="list">
              <div class="item item-divider">Item divider 1</div>
              <div class="item item-icon-left item-icon-right">
                  <span class="icon ion-home"></span>
                  Left icon
                  <span class="item-note">this is a test</span>
                  <span class="icon ion-star"></span>
              </div>
              <div class="item item-avatar">
                  <img src="img/cover1.jpg" />
                  Avatar item
              </div>
              <div class="item item-thumbnail-left">
                  <img src="img/cover2.jpg" />
                  Thumbnail item
              </div>
              
              <div class="item item-divider">Item divider 2</div>
              <div class="item item-avatar-right">
                  <img src="img/cover1.jpg" />
                  Avatar right
              </div>
              <div class="item item-thumbnail-right" style="position:relative">
                  <img src="img/cover2.jpg" />
                  <div style="position:absolute;top:50%;transform:translateY(-50%)">Thumbnail right</div>
              </div>
          </div>

          <!--Card Practice-->
          <div class="card">
              <div class="item item-avatar">
                  <img src="img/cover1.jpg" />
                  <h2>Card Name</h2>
              </div>

              <div class="item item-body">
                  <img src="img/cover1.jpg" class="full-image" />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
              </div>
          </div>

          <!--Form Practice-->
          <div class="list list-inset">
              <label class="item item-input">
                  <input type="text" placeholder="username" />
              </label>

              <label class="item item-input">
                  <span class="input-label">Password</span>
                  <input type="text" placeholder="password" />
              </label>

              <label class="item item-input item-stacked-label">
                  <span class="input-label">Hint Question</span>
                  <input type="text" placeholder="type in the question" />
              </label>

              <label class="item item-input item-floating-label">
                  <span class="input-label">Label 1</span>
                  <input type="text" placeholder="placeholder 1" />
              </label>

              <div class="item item-input-inset">
                  <label class="item item-input-wrapper">
                      <input type="text" placeholder="placeholder" />
                  </label>
                  <button class="button">button</button>
              </div>

              <div class="item item-input-inset">
                  <label class="item item-input-wrapper">
                      <span class="icon ion-edit placeholder-icon"></span>
                      <input type="text" placeholder="placeholder" />
                  </label>
              </div>
          </div>
          
          <!--Toggle Practice-->
          <label class="toggle">
              <input type="checkbox" />
              <div class="track">
                  <div class="handle"></div>
              </div>
          </label>
          
          <br>
          
          <label class="toggle">
              <input type="checkbox" />
              <div class="track">
                  <div class="handle"></div>
              </div>
          </label>
          

          <ul class="list">

          	<li class="item item-toggle">
          		Toggle 1
          		<label class="toggle">
          			<input type="checkbox">
          			<div class="track">
          				<div class="handle"></div>
          			</div>
          		</label>
          	</li>

          	<li class="item item-toggle">
          		Toggle 2
          		<label class="toggle">
          			<input type="checkbox">
          			<div class="track">
          				<div class="handle"></div>
          			</div>
          		</label>
          	</li>

            <li class="item item-toggle">
              Toggle 3
              <label class="toggle">
                <input type="checkbox">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>

            <li class="item item-toggle">
              Toggle with color
              <label class="toggle toggle-calm">
                <input type="checkbox" name="">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>

          </ul>

          <!--Checkbox Practice-->
          <ul class="list">

              <li class="item item-checkbox">
                  Checkbox 1
                  <label class="checkbox">
                      <input type="checkbox">
                  </label>
              </li>

              <li class="item item-checkbox checkbox-calm">
                  Checkbox with color
                  <label class="checkbox">
                      <input type="checkbox">
                  </label>
              </li>

          </ul>

          <!--Radio Button Practice-->
          <div class="list">
            
            <label class="item item-radio">
              <input type="radio" name="group">
              <div class="item-content">Choice 1</div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
              <input type="radio" name="group">
              <div class="item-content">Choice 2</div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
              <input type="radio" name="group">
              <div class="item-content">Choice 3</div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

          </div>

          <ion-list radio-group>
            <ion-list-header>Language</ion-list-header>

            <ion-item>
              <ion-label>Go</ion-label>
              <ion-radio checked="true" value="go"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Rust</ion-label>
              <ion-radio value="rust"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>C#</ion-label>
              <ion-radio value="c#"></ion-radio>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-radio ng-model="choice" ng-value="A">Choice A</ion-radio>
            <ion-radio ng-model="choice" ng-value="B">Choice B</ion-radio>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-label>Friends</ion-label>
              <ion-radio value="friends" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Family</ion-label>
              <ion-radio value="family"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-radio value="enemy">Enemy</ion-radio>
            </ion-item>
          </ion-list>

          <!--Range Practice-->
          <div class="item range range-calm">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="range1">
            <i class="icon ion-volume-high"></i>
          </div>

          <div class="item range range-assertive">
            <i class="icon ion-ios-sunny-outline"></i>
            <input type="range" name="volume">
            <i class="icon ion-ios-sunny"></i>
          </div>

          <!--Select Practice-->
          <div class="list">
            
            <label class="item item-input item-select">
              <div class="input-label">Lightsaber</div>
              <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
              </select>
            </label>
          </div>

          <!--Button Practice-->
          <button class="button button-block button-stable">Button Block</button>
          <button class="button button-full button-stable">Button Full</button>
          <div class="button-bar">
              <button class="button button-assertive button-outline">Login</button>
              <button class="button button-assertive">Register</button>
          </div>

          <!--Tabs Practice-->
          <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            
            <div class="tabs">
              <a href="#" class="tab-item active">
                <i class="icon ion-home"></i>
                Home
              </a>
              <a href="#" class="tab-item">
                <i class="icon ion-star"></i>
                Favorites
              </a>
              <a href="#" class="tab-item">
                <i class="icon ion-gear-a"></i>
                Settings
              </a>
            </div>
          </div>

      </ion-content>

      <div class="bar bar-footer bar-royal">
          <button class="button icon ion-navicon"></button>
          <button class="button icon ion-home"></button>
          <button class="button icon ion-star"></button>
          <button class="button icon ion-checkmark-round"></button>
      </div>
    </ion-pane>

      
  </body>
</html>
